.root
  max-width: 1200px;
  display flex
  flex-direction: column
  margin: 0 auto
  padding:24px

.selectWrapper
  margin 10px

.select
  width 100%
  
.output
  display flex
  flex-wrap wrap
  padding 10px
  box-sizing border-box

.list
  margin-right 20px
  min-width 200px

.buttonsBlock
  margin: 30px 0 10px
  width 100%
  
  display flex
  flex-wrap: wrap
  justify-content: space-between

.button
  margin 0 10px
  min-width 150px

.buttonReset
  margin 0 10px
  min-width 180px
