.root
  padding:24px

.selectWrapper
  margin 10px

.select
  width 100%
  
.output
  display flex
  flex-wrap wrap
  padding 10px
  box-sizing border-box

.list
  margin-right 20px
  min-width 200px

.resetButton
  margin-top 20px
  width 100%
  max-width 200px

